.about {

    &__head {
        margin-bottom: 3.125rem;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 7.5rem;
        padding-bottom: 3.75rem;
    }

    &__item {
        max-width: 41.875rem;
        margin-bottom: 3.75rem;
    }

    &__block {
        background: url('../images/about-bg.jpg') center / cover no-repeat;
        position: relative;
        color: #ffffff;
    }

    &__item-title {
        @include font('proxima-extrabold');
        display: inline-block;
        font-size: 2.25rem;
        position: relative;
        margin-bottom: 3.125rem;

        &::after {
            position: absolute;
            content: "";
            height: 0.125rem;
            width: 12.1875rem;
            background-color: #ffffff;
            left: calc(100% + 1.25rem);
            bottom: 0;
        }
    }
}

.about-benefits {
    padding-top: 7.1875rem;
    padding-bottom: 3.125rem;

    &__title {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 27.8125rem;
        width: 100%;
        margin-bottom: 4.375rem;
    }

    &__img {
        margin-bottom: 1.875rem;
    }

}


