.benefits {
    padding: 6.25rem 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        padding-top: 0.625rem;
        margin-bottom: 3.75rem;
    }

    &__info {
        height: 29.0625rem;
    }

    &__info-wrapper {
        position: relative;
        height: 29.375rem;
    }

    &__scroll-line {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../images/scrollbar.svg') center no-repeat;
        height: 100%;
        width: 12px;
        z-index: -1;
    }

    &__text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #b6b6b6;
        padding-right: 3.4375rem;
        max-width: 46.25rem;

        p {
            margin-bottom: 2.5rem;
        }
    }

    &__text-black {
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: #010101;
    }
}
