.contacts {

    &__title {
        margin-bottom: 6.25rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6.25rem;
    }

    &__info {
        max-width: 42.1875rem;
    }

    &__text {
        @include font('proxima-bold');
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-bottom: 6.25rem;
    }

    &__row {
        margin-top: 3.125rem;
        padding-left: 3.4375rem;
        background-position: top 0.8125rem left;
        background-repeat: no-repeat;
    }

    &__phone {
        background-image: url('../images/phone.png');
    }

    &__mail {
        background-image: url('../images/mail.png');
    }

    &__address {
        background-image: url('../images/house.png');
    }

    &__item {
        display: block;
        line-height: 3.125rem;
    }

    &__form {
        position: relative;
        max-width: 58.75rem;
        width: 100%;
        padding: 6.25rem;
        background-color: $green;
        text-align: center;

        input {
            margin-bottom: 1.875rem;
        }

        input,
        textarea {
            @include font('proxima-light');
            font-size: 1.5rem;
            display: block;
            padding: 1.25rem 0.9375rem;
            color: $green;
            border: none;
            background-color: #ffffff;
            width: 100%;

            &::placeholder {
                color: $green;
            }
        }

        textarea {
            height: 10.9375rem;
            overflow: auto;
        }
    }

    &__btn {
        position: absolute;
        bottom: -1.25rem;
        left: 50%;
        transform: translateX(-50%); 
    }
}

