.contacts {

    &__title {
        margin-bottom: 100px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__info {
        max-width: 675px;
    }

    &__text {
        @include font('proxima-bold');
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 100px;
    }

    &__row {
        margin-top: 50px;
        padding-left: 55px;
        background-position: top 13px left;
        background-repeat: no-repeat;
    }

    &__phone {
        background-image: url('../images/phone.png');
    }

    &__mail {
        background-image: url('../images/mail.png');
    }

    &__address {
        background-image: url('../images/house.png');
    }

    &__item {
        display: block;
        line-height: 50px;
    }

    &__form {
        position: relative;
        max-width: 940px;
        width: 100%;
        padding: 100px;
        background-color: $green;
        text-align: center;

        input {
            margin-bottom: 30px;
        }

        input,
        textarea {
            @include font('proxima-light');
            font-size: 24px;
            display: block;
            padding: 20px 15px;
            color: $green;
            border: none;
            background-color: #ffffff;
            width: 100%;

            &::placeholder {
                color: $green;
            }
        }

        textarea {
            height: 175px;
            overflow: auto;
        }
    }

    &__btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%); 
    }
}

