.header {
    @include font('proxima-semibold');
    font-size: 18px;
    padding-top: 35px;

    &__top {
        text-align: right;
    }

    &__inner {
        margin-bottom: 100px;
    }

    &__btn {
        display: inline-block;
        padding: 3px 15px;
        color: #ffffff;
        text-align: center;
        transition: .3s ease;

        &:hover {
            background-color: $primary;
        }
    }

    &__btn-login {
        background-color: $green;
    }

    &__btn-register {
        background-color: $accent;
        margin-right: 55px;
    }

    &__main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &.active {
            .navigation__list {
                display: flex;
            }

            .header__extra {
                display: flex;
            }
        }
    }

    &__logo {
        order: 1;
        flex-basis: 33.333%;
    }

    &__extra {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
    }

    &__lang {
        margin-left: 60px;
    }

    &__lang-item {
        margin-left: 25px;

        &.active {
            @include font('proxima-black');
            color: $accent;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.navigation {

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__link {
        position: relative;
        display: inline-block;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0) translateX(-100%);
            background-color: #000000;
            transition: .3s ease;
        }

        &:hover {
            &::before {
                transform: scaleX(1) translateX(0);
            }
        }
    }

    &__item:not(:first-child) {
        margin-left: 40px;
    }

}

.menu-btn {
    display: none;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 30px;
    z-index: 99;
    transition: all .3s ease;
}

.menu-btn::before,
.menu-btn::after {
    content: "";
    width: 26px;
    height: 4px;
    margin-bottom: 4px;
    display: block;
    background-color: $accent;
    transition: all .3s ease;
    border-radius: 2px;
}

.menu-btn::after {
    margin-bottom: 0;
}

.menu-btn span {
    background-color: $accent;
    display: block;
    width: 26px;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
}

.menu-btn.active span {
    opacity: 0;
}

.menu-btn.active::after {
    transform: rotate(-45deg);
}

.menu-btn.active::before {
    transform: rotate(45deg);
    margin-bottom: -12px;
}

.header__navigation.active {
    .navigation__list {
        display: block;
    }
}