.main-slider {
    padding-bottom: 6.25rem;

    &__inner {
        position: relative;
    }

    &__head {
        text-align: center;
        max-width: 66.875rem;
        margin: 0 auto;
    }

    &__text {
        @include font('proxima-semibold');
        margin-bottom: 2.5rem;
    }

    &__content {
        max-height: 28.125rem;
        margin-bottom: 6.25rem;
    }

    &__item {
        height: 23.125rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.swiper-panel {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
    align-items: center;
    position: absolute;
    bottom: -4.375rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: transparent;
    
    .swiper-pagination {
        @include font('proxima-thin');
        color: $green;
        font-size: 3rem;
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $green;

        &::after {
            font-weight: bold;
            font-size: 1.625rem;
        }
    }
    .swiper-button-next {
    }
    
}
