@media (max-width: 1520px) {
    .services {
        &__item {
            max-width: 500px;
        }
    }

    .benefits {
        &__inner {
            flex-direction: column;
        }

        &__info-wrapper {
            order: -1;
            margin-bottom: 50px;
        }

        &__text {
            max-width: 100%;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        &__logo {
            order: -1;
            flex-basis: auto;
            margin-right: 15px;
        }

        &__extra {
            margin-left: auto;
        }
    }
}

@media (max-width: 1024px) {
    .page-title {
        font-size: 48px;
        line-height: 60px;
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            margin-top: 20px;
            img {
                width: 260px;
            }
        }

        &__extra {
            display: none;
            flex-direction: column;
            margin-left: 0;
            width: 100%;
            margin-top: 30px;
        }

        &__lang {
            margin-left: 0;
        }

        &__main {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .navigation {
        width: 100%;
        &__list {
            display: none;
            flex-direction: column;
            text-align: center;
            margin-top: 50px;
        }

        &__item {
            width: 100%;
        }

        &__item:not(:first-child) {
            margin: 0;
        }

        &__link {
            display: block;
            padding: 20px;
            &::before {
                display: none;
            }
        }
        
        .menu-btn {
            display: block;
        }
    }

    .swiper-panel {
        
        .swiper-pagination {
            font-size: 36px;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }

    .page-title {
        font-size: 30px;
        line-height: 42px;
    }

    .title {
        font-size: 34px;
        line-height: 46px;
    }

    .main-slider {
        &__item {
            height: 300px;
        }
    }

    .swiper-panel {
        
        .swiper-pagination {
            font-size: 24px;
        }
    }

    .btn {
        font-size: 26px;
        min-width: auto;
        width: 260px;
    }

    .services {
        &__list {
            margin-bottom: 50px;
        }

        &__head {
            &::after {
                width: 120px;
            }
        }

        &__item-title {
            font-size: 30px;
        }
    }

    .benefits {
        &__title {
            margin-right: 35px;
        }

        &__scroll-line {
            right: 0;
        }

        .ss-scroll {
            width: 12px;
        }

        &__text-black {
            font-size: 20px;
        }
    }

    .about {
        &__inner {
            padding: 60px 0;
        }

        &__bg img {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__btn {
            width: 100%;
        }

        &__logo {
            margin-top: 23px;
            img {
                width: 220px;
            }
        }
    }
}