.partners {

    padding: 6.875rem 0;
    background-color: #f8f8f8;

    &__title {
        text-align: center;
        margin-bottom: 5.3125rem;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc(25% - 3.125rem);
        margin-bottom: 4.375rem;
        margin-left: 3.125rem;
        &:nth-child(4n + 1) {
            flex-basis: 25%;
            margin-left: 0;
        }
    }
}

