.partners-page {
    padding-bottom: 9.375rem;

    &__head {
        margin-bottom: 5rem;
    }

    &__title {
        margin-bottom: 3.4375rem;
    }

    &__table {
        max-width: 83.125rem;
        margin: 0 auto;
        overflow: auto;

        table {
            @include font('proxima-bold');
            font-size: 1.125rem;
            line-height: 1.875rem;
            width: 100%;
            border: 0.125rem solid #cbcbcb;
            border-collapse: collapse;
            border-spacing: 0;
        }

        th {
            
            text-transform: uppercase;
            text-align: left;
            color: #ffffff;
            background-color: $accent;
        }

        td {
            background-color: #f8f8f8;
        }

        td, th {
            border: 0.125rem solid #cbcbcb;
            padding: 1.25rem 2.5rem;
        }
    }
}
