.services-page {
    padding-bottom: 9.0625rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        max-width: 27.5rem;
        width: 100%;
    }

    &__item {
        @include font('proxima-bold');
        font-size: 1.875rem;
        display: block;
        cursor: pointer;
        background-color: $primary;
        margin-bottom: 0.625rem;
        padding: 0.75rem 1.875rem;
        color: #ffffff;

        &.active {
            span {
                position: relative;
                display: inline-block;
                padding-right: 1.875rem;

                &::before {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    background-color: $accent;
                    width: 0.875rem;
                    height: 0.875rem;
                    border-radius: 50%;
                }
            }
        }
    }

    &__content {
        margin-left: 8.125rem;
    }

    &__title {
        text-align: left;
        margin-bottom: 2.5rem;
        margin-left: 7.5rem;
    }

    &__content-items {
    }

    &__content-item {
        display: none;

        &.active {
            display: block;
        }

        p {
            margin-bottom: 1.25rem;
        }
    }
}
