.services {
    padding-top: 120px;
    padding-bottom: 95px;
    background-color: $primary;
    color: #ffffff;

    &__title {
        margin-bottom: 65px;
        text-align: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 110px;
    }

    &__item {
        position: relative;
        max-width: 730px;
        width: 100%;
        margin-bottom: 50px;
    }

    &__head {
        position: relative;
        display: inline-block;
        margin-bottom: 35px;

        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 195px;
            background-color: #ffffff;
            left: calc(100% + 20px);
            bottom: 0;
        }
    }

    &__item-title {
        display: block;
        @include font('proxima-extrabold');
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__item-text {
        padding-right: 40px;
    }

    &__arrow {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__btn-wrapper {
        text-align: center;
    }
}
