.team {
    padding-top: 7.5rem;
    padding-bottom: 8.75rem;

    &__title {
        margin-bottom: 3.4375rem;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 1.875rem;
        flex-basis: 50%;
        margin-bottom: 3.75rem;
    }

    &__box {
        color: #ffffff;
        margin-left: -3.75rem;
        padding: 1.875rem 1.25rem;

        &::before {
            background-color: $accent;
        }
    }

    &__img {
        background-color: #eaedea;
        border-radius: 50%;
        img {
            padding-top: 1.25rem;
            border-radius: 50%;
        }
    }

    &__name {
        @include font('proxima-semibold');
        margin-bottom: 0.9375rem;
    }

    &__position {
        @include font('proxima-light');
    }
}
